.section-two{
    background-color: white;
    position: relative;
    width: 800px;
    padding-top: 3rem;
    padding-bottom: 12rem;
    overflow: hidden;
    height: 200px;
    margin: 0 auto;
}

.days{
    
        background-color: white;
        position: relative;
        width: 800px;
        padding-left: 2rem;
        padding-bottom: 15rem;
        overflow: hidden;
        height: 200px;
        margin: 0 auto;
    
    
}

.third-list{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 120px;
}

.tile-third{
    background-color: #c1dcf8e3;
    border-top: 2px solid #5094E0;
    border-radius:3px 3px 0 0 ;
    width: 100%;
    
}

.tile-third-temp{
    background-color: rgba(255, 166, 0, 0.26);
    border-top: 2px solid orange;
   
    width: 100%;
}

.temp-third-list{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 120px;
}



.percipitation-percents{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    color: #5094E0;
}


.percent-container{
    width: 100%;
    text-align: center;
}

.temp-percent-container{
    width: 100%;
    text-align: center;
}



.hours-list{
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
    width: 1600px;
    position: absolute;
    bottom: -185px;
}

.hours-container{
    width: 100%;
    text-align: center;
}

.section-two img{
    width: 20px;
}

.button-left img{
    transform: scaleX(-1);
}


.section-two-container{
    
    position: absolute;
    transition: all 0.5s ease ;
    left: 0;
    
}



.arrow-left{
    position: absolute;
    bottom: 5px;
    left: -5px;
    transform: scaleX(-1);
    cursor: pointer;
    padding: 0.5rem;
    background: none;
    border: none;
    z-index: 10;
    opacity: 0.3;
}

.arrow-left:hover{
    opacity: 0.6;
}
.arrow-right:hover{
    opacity: 0.6;
}

.arrow-right{
    position: absolute;
    bottom: 5px;
    right: -5px;
    cursor: pointer;
    padding: 0.5rem;
    background: none;
    border: none;
    z-index: 10;
    opacity: 0.3;
}

.arrow-left:disabled{
    opacity: 0;
}

.arrow-right:disabled{
    opacity: 0;
}


.percipitation{
    width: 1600px;
    position: absolute;
    top: 0;
    background-color: white;
    height: 150px;
}

.percipitation.visible{
    z-index: 10;
   
}


.section-two-container.moved{
    left: -800px;
    transition: all 0.5s ease ;
}

.wind{
    width: 1600px;
    position: absolute;
    top: 0;
    background-color: white;
    height: 150px;
}

.wind-speed{
    display: flex;
    justify-content: space-between;
    width: 1600px;
}

.wind-kmh{
    width: 100%;
    text-align: center;
}

.wind-direction{
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
}

.wind-img{
    width: 100%;
    text-align: center;
}

.wind-img img{
    width: 40px;
    opacity: 30%;
    
}


.navigators{
    position: absolute;
    top: 0px;
    left: 20px;
}

.navigators button{
    background: none;
    border: none;
    color: darkcyan;
    font-weight: 600;
    cursor: pointer;
}

.navigators button:disabled{
    border-bottom: 2px solid orange;
    cursor: default;
}


.temperature{
    width: 1600px;
    position: absolute;
    top: 0;
    background-color: white;
    height: 150px;
}

.temperature-value{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    color: orange;
}

.temperature.visible{
    z-index: 10;
}

.detailes-img{
    width: 50px;
}

.img-container{
    display: flex;
    align-items: center;
}

.detailes-container{
    display: flex;
}